body{
    background-color: aquamarine;
}
#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure content takes up full viewport height */
    position: relative; /* Enable relative positioning */
  }
#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 15vh;
    background-color: white;
    padding: 20px;
    border: grey solid 3px;
    border-radius: 10px;
    margin-right: 10vw;
    margin-left: 10vw;
    gap: 10px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
button{
    width: fit-content;
    height: 50px; 
    font-size: larger;
}
#heading{
    text-align: center;
}
img {
    max-width: 80%;
    max-height: 500px;
    margin: 30px auto;
    display: block;
    border: solid black 5px;
}
.garfield{
    border: none;
}
.error{
    margin-top: 10vh;
}
.text{
    font-size: larger;
}
h1 {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  @media screen and (max-width: 787px) {
    #buttons {
        width: 50%;
        flex-direction: column; /* Stack buttons vertically */
        align-items: stretch; /* Make buttons stretch to full width */
        padding: 10px; /* Adjust padding for smaller screens */
        margin: 5vh 25%; /* Adjust margin for better spacing */
    }
    #buttons button {
        width: 100%; /* Make buttons take full width */
        height: 30px; /* Adjust height for smaller screens */
        font-size: medium; /* Adjust font size */
        margin-bottom: 10px; /* Add spacing between buttons */
    }
    #buttons > * {
        width: 100%; /* Ensure all children take full width */
    }
    input {
        width: 100%; /* Make input fields take full width */
    }
  }